# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Visual Studio Code specific files
.vscode/
*.code-workspace

# Environment
.env

# macOS
.DS_Store

# Python virtual environment
venv/
